:root {
    --textColor: #718355;
    --buttonColor: #CCE3DE;
    --footerColor: #6B9080;
    --cardColor: #EAF4F4;
}
.custom-button{
    background: var(--buttonColor);
    font-weight: normal;
    font-size: 18px;
    color: var(--textColor);
    border-radius: 23px;
    border: none;
}
.custom-button.promo{
    font-size: 24px;
}
.custom-button:hover {
    background-color: var(--footerColor); /* Цвет кнопки при наведении */
}

.logout-button:hover {
    background-color: #cc5555; /* Цвет кнопки при наведении */
}

.img-custom:hover{
    color: white;
}
html, body {
    font-family: 'Montserrat', sans-serif;
    color: var(--textColor);
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.min-vh-100 {
    min-height: 100vh; /* Минимальная высота на весь экран */
}
.img-width {
    max-width: 500px;
    height: auto;
}

#root {
    flex: 1;
}
.backkkk{
    background-color: var(--footerColor); !important;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
    min-height: 100%;
    padding: 0 2%;
}

.footer {
    max-width: 1600px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6,p {
    color: var(--textColor)
}

p {
    font-weight: normal;
    font-size: 24px;
}
h1 {
    font-weight: bold;
}
.custom-table th, .custom-table td {
    color: var(--textColor); /* Устанавливает красный цвет текста */
    font-size: 24px;
}
text {
    color: var(--textColor);
    font-weight: bold;
    font-size: 40px;
}