footer {
    background-color: var(--footerColor); /* Темный фон футера */
    color: #fff; /* Белый текст */
    padding: 20px; /* Отступы */
    margin-top: auto; /* Фиксация футера внизу */
    position: relative; /* Относительное позиционирование */
    width: 100%; /* Ширина на 100% */
}

.name {

    margin-right: 20px; /* Устанавливаем отступ справа */
}


.name:last-child {
    margin-right: 0;
}